:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f5f5f5;
  --text-color: #333333;
  --heading-color: #2c3e50;
  --accent-color: #e74c3c;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#team2 #layout1 {
  position: relative;
  background-color: #333;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #team1 .iframe {
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  background-color: black;
  border-radius: 30px;
  border: none;
  } */
  
  #team2 .sections {
    min-height: 100vh;
    display: flex;
    width: calc(100vw - 2rem);
    height: calc(100vh - 2rem);
    background-color: black;
    border: none;
    border-radius: 30px;

}

#team2 .section {
  background: #9c08ec;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: var(--heading-color);
  font-family: 'Paperlogy-8ExtraBold';
  text-align: center;
  align-items: center;
  transition: font-size 0.55s ease, flex 0.55s ease, background 0.3s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#team2 .section1 {
  background-image: url(../img/종원.jpg);
}

#team2 .section2 {
  background-image: url(../img/승현.png);
}

#team2 .section3 {
  background-image: url(../img/효민.png);
}

#team2 .section4 {
  background-image: url(../img/재경.png);
}

/* 
.section5 {
  background-image: url(../images/business-1297332_1280.png);
} */

#team2 .section>p {
  margin: 0;
  margin-top: 2rem;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: start;
}

/* .section > p:first-child {
  opacity: 0;
}
.section.open-active > p:first-child {
  opacity: 1;
}
.section > p:last-child {
  opacity: 0;
}
.section.open-active > p:last-child {
  opacity: 1;
} */

#team2 .section p {
  text-transform: uppercase;
  /* text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45); */
  font-size: 2.5rem;
}

#team2 .section:nth-of-type(2)>p {
  color: #aaa;
}

#team2 .section.open {
  flex: 2;
  font-size: 2rem;
}

#team2 .section>a {
  padding: 3% 5%;
  margin-bottom: 3rem;
  border-radius: 10px;
  color: #333333;
  text-decoration: none;
  /* background-color: #f5f5f5a4; */
  background-color: white;
  /* border: 1px solid #aaa; */
  border: none;
  /* box-shadow: 1px 1px 1px #2c3e50, -1px -1px 1px #2c3e50; */
}

#team2 .section>a:hover {
  border: none;
  background-color: black;
  color: white;
  text-shadow: 0 0 1px black;
  box-shadow: inset 1px 1px 4px #555;
}



@media only screen and (max-width: 600px) {
  .section p {
    font-size: 1rem;
  }

  .section>a {
    padding: 5% 10%;
    margin-bottom: 3rem;
    border-radius: 10px;
    color: #333333;
    text-decoration: none;
  }

  .section>a:hover {
    border: none;
    background-color: transparent;
    box-shadow: inset 1px 1px 4px #555;
  }
}

@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}